---
import Layout from '../layouts/Layout.astro';

import ExperienceCard from '../components/ExperienceCard.astro';

import { experiences } from '../content/data/db'
---

<Layout
  title="Work experience - Erick Herrera"
  description="Experiencia laboral de Erick Herrera"
>
  <div class="max-w-4xl mx-auto mt-8">
    <h1 class="text-4xl font-bold  mb-6" data-lang="en" >Work Experience</h1>
    <h1 class="text-4xl font-bold  mb-6" data-lang="es" >Experiencia Laboral</h1>
    <div class="grid gap-6 md:grid-cols-1">

        <section class="max-w-4xl mx-auto">

            <div class="relative space-y-8">
              <!-- Línea vertical del timeline -->
              <!-- <div class="relative space-y-12"> -->
                <!-- Línea vertical del timeline con gradiente -->
                <!-- <div class="absolute left-0 top-0 h-full w-0.5 bg-gradient-to-b from-orange-400 to-orange-200"></div> -->

                {experiences.map((experience, index) => (
                    <ExperienceCard
                        title={experience.title}
                        titleEN={experience.titleEN}
                        company={experience.company}
                        period={experience.period}
                        description={experience.description}
                        descriptionEN={experience.descriptionEN}
                        technologies={experience.technologies}
                    />
                ))}
              </div>
          </section>

    </div>
  </div>
</Layout>