---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

  </head>
  <body class="font-inter bg-gray-50">
    <div class="flex min-h-screen">
      <Sidebar />
      <div class="flex-1">
        <Header />
        <main class="p-6">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
